{% extends 'layouts/app.html.twig' %}

{% block style %} 
        {{ encore_entry_link_tags('dashboard') }}
{% endblock %}
{% block main %}
<div class="main-margin-inline main-margin-block">
        <section>
            <div class="wedding-counter">
                <p>Do wesela zostało: <span class="first-color">{% if daysToWedding < 0 %} 0 {% else %} {{ daysToWedding }} {% endif %}</span> {% if daysToWedding == 1 %} dzień!
                    {% else %} dni! {% endif %}</p>
            </div>
        </section>
        <section>
            <div class="dashboard-grid">
                <div class="home-card">
                    <div class="home-card__header home-card__header--guests">
                        Goście
                    </div>
                    <div class="home-card__content">
                        <p>Liczba zaproszonych gości: <span class="first-color">{{ numberOfGuests }}</span></p>
                        <p>Przyjęte zaproszenia: <span class="first-color">{{ guestsWithAcceptation }}</span></p>
                    </div>
                    <a class="home-card__button first-color" href="{{ path('view_guests') }}">Przejdź</a>
                </div>
                <div class="home-card">
                    <div class="home-card__header home-card__header--budget">
                        Budżet
                    </div>
                    <div class="home-card__content">
                        <p>Całkowity koszt wesela: <span class="first-color">{{ sum }} zł</span></p>
                    </div>
                    <a class="home-card__button first-color" href="{{ path('view_costs') }}">Przejdź</a>
                </div>
                <div class="home-card">
                    <div class="home-card__header home-card__header--checklist">
                        Lista zadań
                    </div>
                    <div class="home-card__content">
                        <p>Liczba zadań do ukończenia: <span class="first-color">{{ uncompletedTasks }}</span></p>
                        <p>Liczba ukończonych zadań: <span class="first-color">{{ completedTasks }}</span></p>
                    </div>
                    <a class="home-card__button first-color" href="{{ path('checklist') }}">Przejdź</a>
                </div>
                <div class="home-card">
                    <div class="home-card__header home-card__header--guest-placement">
                        Planowanie siedzeń
                    </div>
                    <div class="home-card__content">
                        <p>Przydzielonych miejsc: <span class="first-color">{{ allocatedSeats }}</span></p>
                        <p>Miejsc do przydzielenia: <span class="first-color">{{ unallocatedSeats }}</span></p>
                    </div>
                    <a class="home-card__button first-color" href="{{ path('guest_placement') }}">Przejdź</a>
                </div>
                <div class="home-card">
                    <div class="home-card__header home-card__header--guests">
                        Dane wesela
                    </div>
                    <div class="home-card__content">
                        <p>Data wesela: <span class="first-color">{{ wedding.date|date("m.d.Y") }}</span></p>
                        <p>Panna młoda: <span class="first-color">{{ wedding.brideFirstName }} {{ wedding.brideLastName }}</span></p>
                        <p>Pan młody: <span class="first-color">{{ wedding.groomFirstName }} {{ wedding.groomLastName }}</span></p>
                        <p>Sala: <span class="first-color">ul. {{ room.street }} {{ room.houseNumber }} {{ room.postcode }} {{ room.address }}</span></p>
                    </div>
                    <a class="home-card__button first-color" href="{{ path('view_wedding') }}">Przejdź</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block script %} 
        {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
