{% extends 'layouts/app.html.twig' %}

{% block style %} 
        {{ encore_entry_link_tags('dashboard') }}
{% endblock %}
{% block main %}
<div class="main-margin-inline main-margin-block">
        <section>
            <div class="wedding-counter">
                <p>Do wesela zostało: <span class="first-color">185</span> dni!</p>
            </div>
        </section>
        <section>
            <div class="dashboard-grid">
                <div class="home-card">
                    <div class="home-card__header home-card__header--guests">
                        Goście
                    </div>
                    <div class="home-card__content">
                        <p>Liczba zaproszonych gości: <span class="first-color">56</span></p>
                        <p>Przyjęte zaproszenia: <span class="first-color">0</span></p>
                    </div>
                    <a class="home-card__button first-color" href="{{ path('view_guests') }}">Przejdź</a>
                </div>
                <div class="home-card">
                    <div class="home-card__header home-card__header--budget">
                        Budżet
                    </div>
                    <div class="home-card__content">
                        <p>Całkowity koszt wesela: <span class="first-color">56</span></p>
                    </div>
                    <a class="home-card__button first-color" href="{{ path('view_costs') }}">Przejdź</a>
                </div>
                <div class="home-card">
                    <div class="home-card__header home-card__header--checklist">
                        Lista zadań
                    </div>
                    <div class="home-card__content">
                        <p>Liczba zadań do ukończenia: <span class="first-color">0</span></p>
                        <p>Liczba ukończonych zadań: <span class="first-color">0</span></p>
                    </div>
                    <a class="home-card__button first-color" href="{{ path('checklist') }}">Przejdź</a>
                </div>
                <div class="home-card">
                    <div class="home-card__header home-card__header--guest-placement">
                        Planowanie siedzeń
                    </div>
                    <div class="home-card__content">
                        <p>Przykładowe dane: <span class="first-color">0</span></p>
                    </div>
                    <a class="home-card__button first-color" href="{{ path('guest_placement') }}">Przejdź</a>
                </div>
                <div class="home-card">
                    <div class="home-card__header home-card__header--guests">
                        Dane wesela
                    </div>
                    <div class="home-card__content">
                        <p>Przykładowe dane: <span class="first-color">0</span></p>
                    </div>
                    <a class="home-card__button first-color" href="{{ path('view_wedding') }}">Przejdź</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block script %} 
        {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
