<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        html {
            background-color: coral;
        }
    </style>
</head>
<body>
<div>
    <section>
        <div>
            <p>{{ wedding.brideFirstName }} {{ wedding.brideLastName }} oraz {{ wedding.groomFirstName }} {{ wedding.groomLastName }} mają zaszczyt zaprosić</p>

            <p>Sz.P. {{ guest.firstName }} {{ guest.lastName }} na swoje wesele.</p>
        </div>
    </section>
</div>
</body>
</html>