{% extends 'layouts/app.html.twig' %}
{% block style %} 
        {{ encore_entry_link_tags('auth') }}
{% endblock %}
{% block main %}
<div class="main-margin-inline main-margin-block">

    <div class="welcome-content">
        <section>
            <h1 class="welcome-header">Wedding<br>planner</h1>
        </section>
        <section>
            <div class="welcome-nav">
                <h2 class="welcome-nav__current">Logowanie</h2>
            </div>
        </section>
        <section>
            <div class="main-form welcome-form">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <div class="main-form__input-group">
                        <label for="inputEmail" class="main-form__label">Adres E-mail</label>
                        <input type="email" class="main-form__input" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
                    </div>                
                    <div class="main-form__input-group">
                        <label for="inputPassword" class="main-form__label">Hasło</label>
                        <input type="password" name="password" id="inputPassword" class="main-form__input" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                    <input type="submit" value="Zaloguj się"  class="main-form__submit">

                    {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html
                        
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}
                </form>
                <div class="welcome-bottom">
                    <div>
                        <p>Nie masz konta?</p>
                        <a href="{{ path('app_register') }}" class="main-link--first">Zarejestruj się</a>
                        <p>lub</p>
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="main-link--first">
                            Zaloguj się przez Facebook
                        </a>
                    </div>
                    <div>                    
                        <a class="main-link--first">Nie pamiętasz hasła?</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</main>
{% endblock %}
