{% extends 'layouts/app.html.twig' %}

{% block style %} 
        {{ encore_entry_link_tags('checklist') }}
{% endblock %}
{% block main %}
     <div class="main-margin-inline main-margin-block">
        <section>
            <div class="page-header">
                <div class="page-header__content page-header__content--checklist">
                    <h2>Lista</h2>
                </div>
            </div>
        </section>
        
        <section>
            <div class="page-nav">
                <a class="page-nav__item page-nav__item--back main-link--first" href="{{ path('home') }}">
                    Wróć
                </a>
                <a id="add-task-btn" class="main-link--first page-nav__item page-nav__item--add-checklist-item">
                    Dodaj
                </a>
            </div>
        </section>
        
        <section>
            <form>
            <div class="checklist">
                {% for task in tasks %}
                    <div id="task-{{ task.id }}" class="checklist__item" data-id="{{ task.id }}">                 
                        <label class="checklist__label">
                            <input class="main-form__checkbox checklist__input" data-id="{{ task.id }}" type="checkbox" name="completed" value="" {% if task.completed %}checked{% endif %}>
                            <div class="checklist__name">{{ task.name }}</div>
                        </label>
                        <div class="checklist__buttons">
                            <div class="checklist__person_name">{{ task.person }}</div>
                            <a class="checklist__buttons-item checklist__buttons-item--edit edit-task-btn" data-id="{{ task.id }}"></a>
                            <a class="checklist__buttons-item checklist__buttons-item--delete delete-task-btn" data-id="{{ task.id }}"></a>
                        </div>
                    </div>
                {% endfor %}
              </div>
            </form>
        </section>

    </div>

        <section>
            <div class="modal" id="modal"> 
                <div id="modal-content" class="modal-content">
                    <div class="main-form">

                    {{ form_start(taskForm) }}
                    <div class="main-form__input-group">
                        {{ form_label(taskForm.name, 'Nazwa', {'label_attr': {'class': 'main-form__label'}}) }}
                        {{ form_widget(taskForm.name, {'attr': {'class': 'main-form__input', 'value':''}}) }}
                        {{ form_errors(taskForm.name) }}
                    </div>
                    <div class="main-form__input-group">
                        {{ form_label(taskForm.person, 'Przypisz osobe do zadania', {'label_attr': {'class': 'main-form__label'}}) }}
                        {{ form_widget(taskForm.person, {'attr': {'class': 'main-form__input', 'value':''}}) }}
                        {{ form_errors(taskForm.person) }}
                    </div>
                    <input type="submit" value="Zatwierdź" class="main-form__submit">

                    {{ form_end(taskForm) }}

                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="modal" id="edit-modal"> 
                <div id="edit-modal-content" class="modal-content">
                    <div class="main-form">
                    <form id="edit_task_form">
                        <div class="main-form__input-group">
                        <label class="main-form__label">
                            Nazwa
                                <input type="text" name="name" class="main-form__input">

                            Przypisana osoba do zadania
                                <input type="text" name="person" class="main-form__input">

                            </label>
                        </div>
                        <input type="hidden" name="task_id">
                        <input type="submit" value="Zatwierdź"  id="edit_submit" class="main-form__submit">
                    </form>

                    {# {{ form_start(taskForm, {'attr': {'id':'edit_task_form'}})}}
                    <div class="main-form__input-group">
                        {{ form_label(taskForm.name, 'Nazwa', {'label_attr': {'class': 'main-form__label'}}) }}
                        {{ form_widget(taskForm.name, {'attr': {'class': 'main-form__input'}}) }}
                        {{ form_errors(taskForm.name) }}
                    </div>
                    <div class="main-form__input-group">
                        {{ form_label(taskForm.person, 'Przypisz osobe do zadania', {'label_attr': {'class': 'main-form__label'}}) }}
                        {{ form_widget(taskForm.person, {'attr': {'class': 'main-form__input', 'value':''}}) }}
                        {{ form_errors(taskForm.person) }}
                    </div>

                    <input type="hidden" name="task_id">

                    <input type="submit" value="Zatwierdź"  id="edit_submit" class="main-form__submit">

                    {{ form_end(taskForm) }} #}
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="modal" id="loader"> 
                <div  class="modal-content">
                    Ładowanie
                </div>
            </div>
        </section>
{% endblock %}
{% block script %} 
        {{ encore_entry_script_tags('checklist') }}
{% endblock %}
