{% extends 'layouts/app.html.twig' %}

{% block style %}
    {{ encore_entry_link_tags('details') }}
{% endblock %}
{% block main %}
    <div class="main-margin-inline main-margin-block">
        <section>
            <div class="page-header">
                <div class="page-header__content">
                    <h2>Edycja użytkownika</h2>
                </div>
            </div>
        </section>
        <section>
            <div class="main-form__center-container">
                <div class="main-form welcome-form">
                    {{ form_start(userForm) }}
                    {{ form_errors(userForm) }}
                    <div class="main-form__input-group">
                        {{ form_label(userForm.username, 'Nazwa użytkownika', {'label_attr': {'class': 'main-form__label'}}) }}
                        {{ form_widget(userForm.username, {'attr': {'class': 'main-form__input'}}) }}
                        {{ form_errors(userForm.username) }}
                    </div>
                    <input type="submit" value="Edytuj nazwę użytkownika"  class="main-form__submit">
                    {{ form_end(userForm) }}
                    <div class="details__button">
                        <a href="{{ path('app_forgot_password_request') }}" class="main-link--first">Zmień hasło</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block script %}
    {{ encore_entry_script_tags('details') }}
{% endblock %}
