{% extends 'layouts/app.html.twig' %}

{% block style %} 
        {{ encore_entry_link_tags('guest_list') }}
{% endblock %}
{% block main %}
    <div class="main-margin-inline main-margin-block">
        <section>
            <div class="page-header">
                <div class="page-header__content page-header__content--guest-conflict">
                    <h2>Dodawanie konfliktu</h2>
                </div>
            </div>
        </section>
        <section>
            <div class="main-form__center-container">
                <div class="main-form welcome-form">
                    {{ form_start(guestConflictForm) }}
                    {{ form_errors(guestConflictForm) }}
                    <div class="main-form__input-group">
                        {{ form_label(guestConflictForm.conflictedGuests, 'Konflikty', {'label_attr': {'class': 'main-form__label'}}) }}
                        {{ form_widget(guestConflictForm.conflictedGuests, {'attr': {'class': 'main-form__select'}}) }}
                        {{ form_errors(guestConflictForm.conflictedGuests) }}
                    </div>
                    <input type="submit" value="Dodaj konflikty"  class="main-form__submit">
                    {{ form_end(guestConflictForm) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block script %} 
        {{ encore_entry_script_tags('guest_list') }}
{% endblock %}