{% extends 'layouts/app.html.twig' %}

{% block style %} 
        {{ encore_entry_link_tags('guest_placement') }}
{% endblock %}
{% block main %}
     <div class="main-margin-inline main-margin-block">
        <section>
            <div class="page-header">
                <div class="page-header__content page-header__content--guest-placement">
                    <h2>Planowanie siedzeń</h2>
                </div>
            </div>
        </section>
        
        <section>
            <div class="page-nav">
                <a id="guest-placement__save-btn" class="page-nav__item page-nav__item--save">
                    Zapisz
                </a>
                <a id="guest-placement__clear-all-btn" class="page-nav__item page-nav__item--delete">
                    Wyczyść plan
                </a>
            </div>
        </section>

        <section>
            <div class="guest-placement__message-box">
                Wybierz wolne miejsce a następnie wybierz gościa. Kliknij w imię i nazwisko gościa, aby sprawdzić gdzie siedzi.
            </div>
            
            <div class="guest-placement">
                <div class="guest-placement__list">
                    <form id="guest_placement_form" class="guest-placement__list-form">
                        {% for guest in guests %}
                        <div class="guest-placement__list-item">
                            <label class="guest-placement__list-label">
                                <input type="radio" name="guest" class="guest guest-placement__list-input" data-guest-id="{{ guest.id }}" data-guest-seat-id="">
                                <div class="guest-placement__list-name">{{ guest.lastName }} {{ guest.firstName }}</div>
                                <a class="guest-placement__list-unset-btn" data-delete-guest-id="{{ guest.id }}"></a>
                            </label>
                        </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="guest-placement__plan">
                    <div class="guest-placement__set guest-placement__set--1-1">
                        <div class="guest-placement__set-row--top">
                            <div class="guest-placement__seat" data-seat-id="1"></div>
                            <div class="guest-placement__seat" data-seat-id="2"></div>
                            <div class="guest-placement__seat" data-seat-id="3"></div>
                            <div class="guest-placement__seat" data-seat-id="4"></div>
                            <div class="guest-placement__seat" data-seat-id="5"></div>
                            <div class="guest-placement__seat" data-seat-id="6"></div>
                            <div class="guest-placement__seat" data-seat-id="7"></div>
                            <div class="guest-placement__seat" data-seat-id="8"></div>
                            <div class="guest-placement__seat" data-seat-id="9"></div>
                            <div class="guest-placement__seat" data-seat-id="10"></div>
                        </div>
                        <div class="guest-placement__table guest-placement__table--1-1"></div>
    
                    </div>

                    <div class="guest-placement__set guest-placement__set--1-2">
                        <div class="guest-placement__set-row--right-side">
                            <div class="guest-placement__seat" data-seat-id="11"></div>
                            <div class="guest-placement__seat" data-seat-id="12"></div>
                            <div class="guest-placement__seat" data-seat-id="13"></div>
                            <div class="guest-placement__seat" data-seat-id="14"></div>
                            <div class="guest-placement__seat" data-seat-id="15"></div>
                            <div class="guest-placement__seat" data-seat-id="16"></div>
                            <div class="guest-placement__seat" data-seat-id="17"></div>
                            <div class="guest-placement__seat" data-seat-id="18"></div>
                            <div class="guest-placement__seat" data-seat-id="19"></div>
                            <div class="guest-placement__seat" data-seat-id="20"></div>
                        </div>
                        <div class="guest-placement__table guest-placement__table--1-2"></div>

                        <div class="guest-placement__set-row--left-side">
                            <div class="guest-placement__seat" data-seat-id="21"></div>
                            <div class="guest-placement__seat" data-seat-id="22"></div>
                            <div class="guest-placement__seat" data-seat-id="23"></div>
                            <div class="guest-placement__seat" data-seat-id="24"></div>
                            <div class="guest-placement__seat" data-seat-id="25"></div>
                            <div class="guest-placement__seat" data-seat-id="26"></div>
                            <div class="guest-placement__seat" data-seat-id="27"></div>
                            <div class="guest-placement__seat" data-seat-id="28"></div>
                            <div class="guest-placement__seat" data-seat-id="29"></div>
                            <div class="guest-placement__seat" data-seat-id="0"></div>
                        </div>
                    </div>


                    <div class="guest-placement__set guest-placement__set--1-3">

                        <div class="guest-placement__set-row--right-side">
                            <div class="guest-placement__seat" data-seat-id="31"></div>
                            <div class="guest-placement__seat" data-seat-id="32"></div>
                            <div class="guest-placement__seat" data-seat-id="33"></div>
                            <div class="guest-placement__seat" data-seat-id="34"></div>
                            <div class="guest-placement__seat" data-seat-id="35"></div>
                            <div class="guest-placement__seat" data-seat-id="36"></div>
                            <div class="guest-placement__seat" data-seat-id="37"></div>
                            <div class="guest-placement__seat" data-seat-id="38"></div>
                            <div class="guest-placement__seat" data-seat-id="39"></div>
                            <div class="guest-placement__seat" data-seat-id="40"></div>
                        </div>
                        <div class="guest-placement__table guest-placement__table--1-3"></div>
                        <div class="guest-placement__set-row--left-side">
                            <div class="guest-placement__seat" data-seat-id="41"></div>
                            <div class="guest-placement__seat" data-seat-id="42"></div>
                            <div class="guest-placement__seat" data-seat-id="43"></div>
                            <div class="guest-placement__seat" data-seat-id="44"></div>
                            <div class="guest-placement__seat" data-seat-id="45"></div>
                            <div class="guest-placement__seat" data-seat-id="46"></div>
                            <div class="guest-placement__seat" data-seat-id="47"></div>
                            <div class="guest-placement__seat" data-seat-id="48"></div>
                            <div class="guest-placement__seat" data-seat-id="49"></div>
                            <div class="guest-placement__seat" data-seat-id="50"></div>
                        </div>
                    </div>
                </div>
   
            </div>
        </section>
    </div>

{% endblock %}
{% block script %} 
        {{ encore_entry_script_tags('guest_placement') }}
{% endblock %}
