{% extends 'layouts/app.html.twig' %}

{% block style %} 
        {{ encore_entry_link_tags('guest_list') }}
{% endblock %}
{% block main %}
     <div class="main-margin-inline main-margin-block">

        <section>
            <div class="page-header">
                <div class="page-header__content page-header__content--guest-list">
                    <h2>Goście</h2>
                </div>
            </div>
        </section>
        <section>
            <div class="page-nav">
                <a class="page-nav__item page-nav__item--back main-link--first" href="{{ path('home') }}">
                    Wróć
                </a>
            {% if not maxGuests %}
                <a href="{{ path('add_guest') }}" {#id="add-guest-btn"#} class="main-link--first page-nav__item page-nav__item--add-guest">
                    Dodaj gościa
                </a>
            {% endif %}
                <a href="{{ path('download_all_invitation') }}" class="guest-list__item-action guest-list__item-action--file-download" title="pobierz wszytkie zaproszenia">
                    Pobierz wszytkie zaproszenia
                </a>
            {% if not numberOfGuests == 0 and guestsWithoutInvite > 0 %}
                <a href="{{ path('send_invitations') }}" class="main-link--first page-nav__item page-nav__item--envelope" title="wyślij zaproszenia">
                    Wyślij zaproszenia
                </a>
            {% endif %}
            {% if sentInvitationsCounter %}
                Wysłano {{ sentInvitationsCounter }} zaprosze{% if sentInvitationsCounter < 2 %}nie{% elseif sentInvitationsCounter < 5 %}nia{% else %}ń{% endif %}
            {% endif %}
            </div>
        </section>
        <section>
            <div class="guest-list">
                {% for guest in guests %}
                <div class="guest-list__item">

                    <div class="guest-list__item-details">
                        {{ guest.lastName }} {{ guest.firstName }} <span class="muted"> {% if guest.email %}({{ guest.email }}){% endif %} </span>
                    </div>
                    <div class="guest-list__item-action-list">
                        <a href="{{ path('edit_guest_conflicts', {id: guest.id}) }}" class="guest-list__item-action guest-list__item-action--conflict" title="edytuj konflikty">
                            {# Edytuj konflikty #}
                        </a>
                        <a href="{{ path('download_invitation', {id: guest.id}) }}" class="guest-list__item-action guest-list__item-action--file-download" title="pobierz zaproszenie">
                            {# Pobierz zaproszenie #}
                        </a>
                        {% if not guest.invitationSent and not guest.acceptation and guest.email %}
                        <a href="{{ path('send_invitation', {id: guest.id}) }}" class="guest-list__item-action guest-list__item-action--send" title="wyślij zaproszenie">
                            {# Wyślij zaproszenie #}
                        </a>
                        {% endif %}
                        <a href="{{ path('edit_guest', {id: guest.id}) }}" class="guest-list__item-action guest-list__item-action--edit" title="edytuj dane"></a>
                        <a href="{{ path('remove_guest', {id: guest.id}) }}" class="guest-list__item-action guest-list__item-action--delete" title="usuń gościa"></a>
                    </div>
                    {% if guest.conflictedGuests|length > 0 %}
                    <div>
                        <p>Nie chce siedzieć obok:</p>
                        <ul>
                            {% for conflictedGuest in guest.conflictedGuests %}
                            <li>{{ conflictedGuest.lastName }} {{ conflictedGuest.firstName }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </section>

        {# <section>
            <div class="modal" id="modal"> 
                <div id="modal-content" class="modal-content">
                    <div class="main-form">
                        <form>
                            <div class="main-form__input-group">
                                <label class="main-form__label">Imię
                                    <input id="first-name-input" type="text" class="main-form__input">
                                </label>
                            </div>
                            <div class="main-form__input-group">
                                <label class="main-form__label">Nazwisko
                                    <input id="last-name-input" type="text" class="main-form__input">
                                </label>
                            </div>
                            <div class="main-form__input-group">
                                <label class="main-form__label">Adres E-mail
                                    <input id="email-input" type="email" class="main-form__input">
                                </label>
                            </div>
                            <input id="guest-id-input" type="hidden" value="id">

                            <input type="submit" value="Zatwierdź"  class="main-form__submit">
                        </form>
                    </div>
                </div>
            </div>
        </section> #}
        </div>
{% endblock %}
{% block script %} 
        {{ encore_entry_script_tags('guest_list') }}
{% endblock %}
