{% extends 'layouts/app.html.twig' %}

{% block style %} 
        {{ encore_entry_link_tags('guest_placement') }}
{% endblock %}
{% block main %}
     <div class="main-margin-inline main-margin-block">
        <section>
            <div class="page-header">
                <div class="page-header__content page-header__content--guest-placement">
                    <h2>Planowanie siedzeń</h2>
                </div>
            </div>
        </section>
        
        <section>
            <div class="page-nav">
                <a id="guest-placement__save-btn" class="page-nav__item page-nav__item--save">
                    Zapisz
                </a>
                <a id="guest-placement__clear-all-btn" class="page-nav__item page-nav__item--delete">
                    Wyczyść plan
                </a>
            </div>
        </section>

        <section>
            <div class="guest-placement__message-box">
                Wybierz wolne miejsce a następnie wybierz gościa. Kliknij w imię i nazwisko gościa, aby sprawdzić gdzie siedzi.
            </div>
            
            <div class="guest-placement">
                <div class="guest-placement__list">
                    <form id="guest_placement_form" class="guest-placement__list-form">
                        {% for guest in guests %}
                        <div class="guest-placement__list-item">
                            <label class="guest-placement__list-label">
                                <input type="radio" name="guest" class="guest guest-placement__list-input" data-guest-id="{{ guest.id }}" data-guest-seat-id="">
                                <div class="guest-placement__list-name">{{ guest.lastName }} {{ guest.firstName }}</div>
                                <a class="guest-placement__list-unset-btn" data-delete-guest-id="{{ guest.id }}"></a>
                            </label>
                        </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="guest-placement__plan">
                    {% include roomView %}
                </div>
   
            </div>
        </section>
    </div>
    <section>
        <div class="modal" id="loader"> 
            <div id="loader-content" class="modal-content">
                Ładowanie
            </div>
        </div>
    </section>

{% endblock %}
{% block script %} 
        {{ encore_entry_script_tags('guest_placement') }}
{% endblock %}
