{% extends 'layouts/app.html.twig' %}

{% block style %} 
        {{ encore_entry_link_tags('details') }}
{% endblock %}
{% block main %}
    <div class="main-margin-inline main-margin-block">
        <section>
            <div class="page-header">
                <div class="page-header__content">
                    <h2>Dane wesela</h2>
                </div>
            </div>
        </section>
        <section>
            <div class="page-nav">
                <a class="page-nav__item page-nav__item--back main-link--first" href="{{ path('home') }}">
                    Wróć
                </a>
            </div>
        </section>
        <section>
            <div class="details">
                <div class="details__item">
                    Data wesela: {{ wedding.date|date("d.m.Y") }}
                </div>
                <div class="details__item">
                    Panna młoda: {{ wedding.brideFirstName }} {{ wedding.brideLastName }}
                </div>
                <div class="details__item">
                    Pan młody: {{ wedding.groomFirstName }} {{ wedding.groomLastName }}
                </div>
                <div class="details__item">
                    Sala weselna: {{ room.name }} ({{ room.size }} miejsc) - ul. {{ room.street }} {{ room.houseNumber }} {{ room.postcode }} {{ room.address }}
                </div>
                {% if editable %}
                <div class="details__button">
                    <a href="{{ path('edit_wedding') }}" class="main-link--first">Zmień dane wesela</a>
                </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
{% block script %} 
        {{ encore_entry_script_tags('details') }}
{% endblock %}

