{% extends 'base.html.twig' %}
{% block style %}
        {{ encore_entry_link_tags('auth') }}
{% endblock %}
{% block main %}
    <div class="main-margin-inline main-margin-block">
        <section>
            <div class="welcome-content">
                <div class="welcome-nav">
                    <h2 class="welcome-nav__current">Dane wesela</h2>
                </div>
                <div class="mb-3">
                    Data wesela: {{ wedding.date|date("m.d.Y") }}
                </div>
                <div class="mb-3">
                    Panna młoda: {{ wedding.brideFirstName }} {{ wedding.brideLastName }}
                </div>
                <div class="mb-3">
                    Pan młody: {{ wedding.groomFirstName }} {{ wedding.groomLastName }}
                </div>
                <div class="mb-3">
                    Sala weselna: {{ room.name }} ({{ room.size }} miejsc) - {{ room.address }}
                </div>
                {% if editable %}
                <a href="{{ path('edit_wedding') }}" class="main-link--first">Zmień dane wesela</a>
                {% endif %}
            </div>
        </section>
        <section>
            <div class="welcome-content">
                <div class="welcome-nav">
                    <h2 class="welcome-nav__current">Goście</h2>
                </div>
                <div class="mb-3">
                    <ol>
                    {% for guest in guests %}
                        <li>
                            {{ guest.lastName }} {{ guest.firstName }} {% if guest.email %}({{ guest.email }}){% endif %} -
                            <a href="{{ path('edit_guest', {id: guest.id}) }}" class="main-link--first">Edytuj</a> -
                            <a href="{{ path('remove_guest', {id: guest.id}) }}" class="main-link--first">Usuń</a>
                        </li>
                    {% endfor %}
                    </ol>
                </div>
                {% if not maxGuests %}
                <div class="mb-3">
                    <a href="{{ path('add_guest') }}" class="main-link--first">Dodaj gościa</a>
                </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
