{% extends 'layouts/app.html.twig' %}

{% block style %}
    {{ encore_entry_link_tags('details') }}
{% endblock %}
{% block main %}
    <div class="main-margin-inline main-margin-block">
        <section>
            <div class="page-header">
                <div class="page-header__content">
                    <h2>Dane użytkownika</h2>
                </div>
            </div>
        </section>
        <section>
            <div class="details">
                <div class="details__item">
                    Nazwa użytkownika: {{ user.username }}
                </div>
                <div class="details__item">
                    Adres email: {{ user.email }}
                </div>
                <div class="details__item">
                    Data rejestracji: {{ user.registeredAt|date("d.m.Y H:i:s") }}
                </div>
                <div class="details__button">
                    <a href="{{ path('edit_user') }}" class="main-link--first">Zmień dane użytkownika</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block script %}
    {{ encore_entry_script_tags('details') }}
{% endblock %}
