{% extends 'base.html.twig' %}

{% block style %} 
        {{ encore_entry_link_tags('auth') }}
{% endblock %}
{% block main %}
<div class="main-margin-inline main-margin-block">
    <section>
        <h1 class="welcome-header">Wedding<br>planner</h1>
    </section>
    <section>
       <div class="welcome-content">
            <div class="welcome-nav">
                <h2 class="welcome-nav__current">Zresetuj swoje hasło</h2>
            </div>
            <div class="main-form welcome-form">
                    {{ form_start(resetForm) }}
                        <div class="main-form__input-group">
                            {{ form_label(resetForm.plainPassword.first, 'Nowe hasło', {'label_attr': {'class': 'main-form__label'}}) }}
                            {{ form_widget(resetForm.plainPassword.first, {'attr': {'class': 'main-form__input'}}) }}
                            {{ form_errors(resetForm.plainPassword.first) }}
                        </div>
                        <div class="main-form__input-group">
                            {{ form_label(resetForm.plainPassword.second, 'Powtórz hasło', {'label_attr': {'class': 'main-form__label'}}) }}
                            {{ form_widget(resetForm.plainPassword.second, {'attr': {'class': 'main-form__input'}}) }}
                            {{ form_errors(resetForm.plainPassword.second) }}
                        </div>
                        <input type="submit" value="Zresetuj hasło"  class="main-form__submit">
                    {{ form_end(resetForm) }}
                <div class="welcome-bottom">
                    <div>
                        <a class="main-link--first" href="{{ path('home') }}" >Wróć do strony głównej</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
